/* .carousel-container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-item {
    padding: 0 15px;
  }
  
  .btn {
    width: 100%;
  }
   */